<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<!--<unicorn>
			<configurations>
				<configuration name="Project.HackstreetBoys.Serialization" description="Cambium Tenant Root items" extends="Helix.Base" dependencies="Foundation.Serialization">
					<predicate>
						<include name="HackstreetBoys.Templates" database="master" path="/sitecore/templates/Project/HackstreetBoys" />
						<include name="HackstreetBoys.Themes" database="master" path="/sitecore/media library/Themes/HackstreetBoys" />
						<include name="HackstreetBoys.MediaLibrary" database="master" path="/sitecore/media library/Project/HackstreetBoys" />
						<include name="HackstreetBoys.Forms" database="master" path="/sitecore/Forms/HackstreetBoys" />
						<include name="HackstreetBoys.Content" database="master" path="/sitecore/content/HackstreetBoys" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>-->
	</sitecore>
</configuration>